{% extends "base.html.twig" %}

{% block content %}
	<p>
		Vous êtes connectez en temps que
		{{ user.userName }}
	</p>
	<p>
		<a href=" {{ path('disconnect') }} ">
			Déconnectez-vous
		</a>
	</p>
{% endblock %}
