{% extends "base.html.twig" %}
{% block content %}
	<p>
		{{ errorMessage }}
	</p>
	Page de co...
	<a href=" {{ path('login') }} "></a>
	<form action="{{ path('login') }}" method="post">
		<input type="text" name="mail" value="mail">
		<input type="text" name="mdp" value="mdp">
		<input type="submit" value="envoyer">
	</form>
	<p>
		<a href=" {{ path('register') }} ">
			Pas de compte ?
		</a>
	</p>
{% endblock %}
