<html lang="fr">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<link rel="stylesheet" href="style.css"/>
			<title>
				{% block title %}
				{% endblock %}
			</title>
		{% endblock %}
	</head>
	<body>
		<section id="content">
			{% block content %}
				<p>
					Mon template twig est bon
				<a href="{{ path('billet', {'id' : 11}) }}">voir billets</a>
				</p>
			{% endblock %}
		</section>
		<footer id="footer">
			{% block footer %}
				&copy; Copyright 2020
				
				.
			{% endblock %}
		</footer>
	</body>
</html>
