{% block name %}
	<a href=" {{ path('index') }} ">
		retour acceuil
	</a>
	{% for post in posts %}
		<br>
		<a href=" {{ path('billet', {'id': post.id}) }} ">
			{{ post.title }}
		</a>
	{% endfor %}
{% endblock %}
