.confirmReport{
    color: #5fcb71;
}
#errorPost{
    color: red;
    font-size: 2em;
    text-align: center;
}

.black{
    color: black;
}

.dropdown-menu
{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; */
}
