<!DOCTYPE html>
<html lang="en">
	<head>
	 <script src='https://cdn.tiny.cloud/1/10krz54m4a1cvvgfg5ka98pl4ht4tgv3n7le0zcx9g9wpl72/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
	<script>
	tinymce.init({
		selector: '#content'
	});
	tinymce.init({
		selector: '#title'
	});
	tinymce.init({
		selector: '#intro'
	});
	</script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Document
		</title>
				<link  rel="stylesheet" href=" {{ asset('style.css') }}  ">
	</head>
	{% block name %}
	<p id="errorPost"> {{ message }} </p>
		<body>
			<form action=" {{ path('admin/add') }} " method="post" enctype="multipart/form-data">
				<input type="text" name='title' value='titre' id="title">
				<label for="intro">Maximum 220 caractères </label>
				<input type="text" name="intro" maxlength="220" id="intro" value='Entrez ici une intro afficher sur la page des billets, maximum 220 caractère'>
				<input type="text" name='content' value='Entrez le ici contenue ' id="content">
				<label for="read">Temps de lecture du blog</label>
				<input type="number" name="reads" id="reads">
				<input type="file" name="img" id="">
				<input type="submit" value="envoyer">
			</form>
		</body>
		<p>
			<a href=" {{ path('admin') }} ">
				Retour
			</a>
		</p>
	{% endblock %}
	
</html>
